@page
@model CRM_mock.Pages.Customers.ListContactsModel
<div class="container mt-5">
    <div class="jumbotron p-5 bg-light border rounded-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var contact in Model.Contacts)
                {
                    <tr>
                        <td>@(contact.FirstName + " " + @contact.LastName)</td>
                        <td>@contact.Email</td>
                        <td>
                            <form method="post" action="@Url.Page("./ListContacts", "DeleteContact")" onsubmit="return confirm('Are you sure you want to delete this contact?');">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="contactId" value="@contact.ContactId" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
